<h3 mat-dialog-title>
  {{title}}
</h3>

<div mat-dialog-content>
  <p>{{message}}</p>
</div>

<div mat-dialog-actions>  
  <button class="btn btn-primary" mat-button (click)="onDismiss()">No</button>
  <button class="btn btn-danger" mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
</div>
