::ng-deep .cdk-overlay-container {
  position: fixed;
  top: 25%;
  left: 40%;
  background: white;
  box-shadow: 2px 5px 20px gray;
}
::ng-deep .mat-dialog-title {
  overflow-y: hidden !important;
  text-align: center;
}
::ng-deep .mat-dialog-content {
  overflow-y: hidden !important;
  text-align: center;
}
::ng-deep .mat-dialog-actions {
  overflow-y: hidden !important;
  justify-content: center;
}
