<div class="container mt-3 mb-5">
  <h1 class="mb-3">Edit an Employee</h1>  

  <form #employeeForm="ngForm" novalidate>
    <div class="form-group">
      <label for="name" class="font-italic">Employee name:</label>
      <input class="form-control" type="text" #employeeName="ngModel" id="name" name="name"
             required maxlength="50" pattern="^.*\S+.*$"
             [class.is-invalid]="employeeName.invalid && employeeName.touched"
             [(ngModel)]="employee.name" placeholder="Enter a name">

      <div *ngIf="employeeName.invalid && employeeName.touched">
        <small class="text-danger" *ngIf="employeeName.errors.required">
          * Employee name is required
        </small>
        <small class="text-danger" *ngIf="employeeName.errors.pattern">
          * Name cannot contain only white spaces
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="email" class="font-italic">Employee email:</label>
      <input class="form-control" type="text" #employeeEmail="ngModel" id="email" name="email"
             required maxlength="50" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
             [class.is-invalid]="employeeEmail.invalid && employeeEmail.touched"
             [(ngModel)]="employee.email" placeholder="Enter an Email">

      <div *ngIf="employeeEmail.invalid && employeeEmail.touched">
        <small class="text-danger" *ngIf="employeeEmail.errors.required">
          * Employee email is required
        </small>
        <small class="text-danger" *ngIf="employeeEmail.errors.pattern">
          * Incorrect email format
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="department" class="font-italic">Department:</label>
      <input class="form-control" type="text" #employeeDepartment="ngModel" id="department" name="department"
             required maxlength="50" pattern="^.*\S+.*$"
             [class.is-invalid]="employeeDepartment.invalid && employeeDepartment.touched"
             [(ngModel)]="employee.department" placeholder="Enter a department">

      <div *ngIf="employeeDepartment.invalid && employeeDepartment.touched">
        <small class="text-danger" *ngIf="employeeDepartment.errors.required">
          * Employee department is required
        </small>
        <small class="text-danger" *ngIf="employeeDepartment.errors.pattern">
          * Department cannot contain only white spaces
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="position" class="font-italic">Employee position:</label>
      <input class="form-control" type="text" #employeePosition="ngModel" id="position" name="position"
             required maxlength="50" pattern="^.*\S+.*$"
             [class.is-invalid]="employeePosition.invalid && employeePosition.touched"
             [(ngModel)]="employee.position" placeholder="Enter a position">

      <div *ngIf="employeePosition.invalid && employeePosition.touched">
        <small class="text-danger" *ngIf="employeePosition.errors.required">
          * Employee position is required
        </small>
        <small class="text-danger" *ngIf="employeePosition.errors.pattern">
          * Position cannot contain only white spaces
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="age" class="font-italic">Employee age:</label>
      <input class="form-control" #employeeAge="ngModel" id="age" name="age" required
             maxlength="8" pattern="^0*[0-9][0-9]?$"
             [class.is-invalid]="employeeAge.invalid && employeeAge.touched"
             [(ngModel)]="employee.age" placeholder="Enter an age">

      <div *ngIf="employeeAge.invalid && employeeAge.touched">
        <small class="text-danger" *ngIf="employeeAge.errors.required">
          * Employee age is required
        </small>
        <small class="text-danger" *ngIf="employeeAge.errors.pattern">
          * Please enter a non-negative integer number not greater than 99
        </small>
      </div>
    </div>

    <div class="form-group">
      <div class="custom-file">
        <input type="file" id="photo" name="photo"
               (change)="onFileChanged($event.target.files)"
               class="form-control custom-file-input">
        <label *ngIf="!photoToUpload" class="custom-file-label">Choose File...</label>
        <label *ngIf="photoToUpload" class="custom-file-label">{{ photoToUpload.name }}</label>
      </div>
      <div *ngIf="fileValidationResult && !fileValidationResult.isValid">
        <small class="text-danger">* {{ fileValidationResult.errorMessage }}</small>
      </div>
    </div>

    <div class="form-group">
      <img *ngIf="photoToUpload" class="imageThumbnail" [src]="newPhoto" />
      <img *ngIf="!photoToUpload" class="imageThumbnail" [src]="'/images/' + (employee.photoPath ? employee.photoPath : 'noimage.png')" />
    </div>

    <button type="button" [disabled]="employeeForm.invalid"
            class="btn btn-primary mr-1" (click)="saveEmployee()">
      {{ employeeId ? "Update" : "Create" }}
    </button>
    
    <a [routerLink]="['/']" class="btn btn-secondary text-white">Cancel</a>
  </form>

</div>


