<div class="container mt-3 mb-5">

  <p *ngIf="!employees"><em>Loading...</em></p>
  <h1 *ngIf="employees && employees.length === 0">No employees were found</h1>

  <div class="card-deck" *ngIf="employees && employees.length > 0">
   
    <div *ngFor="let employee of employees" class="card m-3 text-center px-2">      
      <div class="card-header">
        <h3>{{employee.name}}</h3>
      </div>

      <img class="card-img-top imageThumbnail" [src]="'/images/' + (employee.photoPath ? employee.photoPath : 'noimage.png')" />

      <div class="card-body pt-0">
        <h5>
          <span class="font-italic font-weight-bolder">Department:</span> {{employee.department}}
        </h5>
        <h5>
          <span class="font-italic font-weight-bolder">Position:</span> {{employee.position}}
        </h5>
      </div>

      <div class="card-footer text-center">
        <a [routerLink]="['/employee/details', employee.id]"
           class="btn btn-primary m-1 text-white">View</a>

        <a [routerLink]="['/employee/edit/', employee.id]"
           class="btn btn-warning m-1 text-white">Edit</a>

        <a [routerLink]="" (click)="delete(employee)"
           class="btn btn-danger m-1 text-white">Delete</a>
      </div>
    </div>    
  </div>
</div>

