<div class="container my-5">
  <div class="row">
    <div class="col">
      <p *ngIf="!employee"><em>Loading...</em></p>

      <div *ngIf="employee" class="card profile text-center px-2">
        <div class="card-header">
          <h1>{{employee.name}}</h1>
        </div>

        <img class="card-img-top" [src]="'/images/' + (employee.photoPath ? employee.photoPath : 'noimage.png')" />

        <div class="card-body pt-0">
          <h5>
            <span class="font-italic font-weight-bolder">
              Employee ID:
            </span> {{employee.id}}
          </h5>
          <h5>
            <span class="font-italic font-weight-bolder">
              Department:
            </span> {{employee.department}}
          </h5>
          <h5>
            <span class="font-italic font-weight-bolder">
              Position:
            </span> {{employee.position}}
          </h5>
          <h5>
            <span class="font-italic font-weight-bolder">
              Age:
            </span> {{employee.age}}
          </h5>
          <h5>
            <span class="font-italic font-weight-bolder">
              Email:
            </span> {{employee.email}}
          </h5>

        </div>
        <div class="card-footer">
          <a [routerLink]="['/']"
             class="btn btn-primary text-white m-1">Back</a>
          <a [routerLink]="['/employee/edit/', employee.id]"
             class="btn btn-warning text-white m-1">Edit</a>          
          <button type="button"
              class="btn btn-danger text-white m-1" (click)="delete(employee)">Delete</button>          
        </div>
      </div>
    </div>
  </div>
</div>
